# .env 模板

# 网络 名词配置 主要有 hardhat、base、mainnet、polygon、arbitrum、goerli、linea
NETWORK=xone

# 对应网络的WETH地址
WETH=0x4200000000000000000000000000000000000006

# 助记词（用于本地测试网络）
MNEMONIC="test test test test test test test test test test test junk"

# 账户私钥，使用逗号分隔多个账户（用于测试网和主网）
ACCOUNTS=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Etherscan API 密钥
GOERLI_KEY=你的Goerli Etherscan API密钥
ARBITRUM_KEY=你的Arbitrum Etherscan API密钥
POLYGON_KEY=你的Polygon Etherscan API密钥

# 网络 URL
GOERLI_URL=https://rpc.ankr.com/eth_goerli
ARBITRUM_URL=https://arb1.arbitrum.io/rpc
LINEA_TESTNET_URL=https://rpc.goerli.linea.build
LINEA_URL=https://1rpc.io/linea
POLYGON_URL=https://rpc-mainnet.matic.quiknode.pro
ETH_URL=https://mainnet.infura.io/v3/你的Infura项目ID
