<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmyc.infrastructure.mapper.BalanceTransactionMapper">

    <insert id="batchInsert" parameterType="list">
        INSERT INTO balance_transaction
        (user_id, token_id, tx_type, amount, balance_before, balance_after,
         related_id, remark, created_date, last_updated_date)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.tokenId}, #{item.txType}, #{item.amount},
             #{item.balanceBefore}, #{item.balanceAfter},
             #{item.relatedId}, #{item.remark}, #{item.createdDate}, #{item.lastUpdatedDate})
        </foreach>
    </insert>

</mapper>
